<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        span {color:blue; font-weight: bold;}
    </style>
</head>
<body>
    <h1><%=title%></h1>
    <div><span><%=data.id%></span>님 환영합니다!</div>
    <div><span><%=data.id%></span>님의 생월은<span><%=data.birthMonth%></span>월 입니다.</div>
</body>
</html>